@{
    ViewData["Title"] = "Checkout Page";
}

<style>
    body {
	background: #ecf1f5;
	font:14px "Open Sans", sans-serif; 
	text-align:center;
    /*justify-content: center;*/
}

.container-fluid{
    width: 100%;
}

.tile{
	/*width: 100%; */
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 10px 5px;

}

.header{
	border-bottom:1px solid #ebeff2;
	padding:19px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
	position:relative;
}

.banner-img {
	padding: 5px 5px 0;
}

.banner-img img {
	width: 100%;
	border-radius: 5px;
}

.dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:20px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
	overflow:auto;
}
.dates div{
	float:left;
	width:50%;
	text-align:center;
	/*position:relative;*/
}
.dates strong,
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
}
.stats div{
	border-right:1px solid #ebeff2;
	width: 33.33333%;
	float:left;
	text-align:center
}
 
</style>
<div class="text-center">
    <div class="form-group">
        <h2>Checkout</h2>
       <hr>
    </div>
    <h4>@ViewData["FullName"]</h4>
    <div>
        <br>

        <form action="/ViewCart" method="post">         
            <div class="container-fluid justify-content-center">
            <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">
                            @ViewData["EventName"]
                        </div>

                        <div class="banner-img">
                            <img src="..\wwwroot\QandS.jpg" alt="Image 1">
                        </div>

                        <div class="dates">
                            <div class="BookingDate">
                                <strong>DATE </strong> @ViewData["BookingDate"] 
                                <span></span>
                            </div>
                            <div class="BookingTime">
                                <strong>ENDS</strong> @ViewData["BookingTime"]
                            </div>
                        </div>
                         <div class="stats">

                            <div>
                                <strong>GOLD</strong> @ViewData["SeatCategoryGoldPrice"]
                            </div>

                            <div>
                                <strong>ORANGE</strong> @ViewData["SeatCategoryOrangePrice"]
                            </div>

                            <div>
                                <strong>BLUE</strong> @ViewData["SeatCategoryBluePrice"]
                            </div>

                        </div>
                           <div class="stats">

                            <div>
                                <strong>No. of Gold Seats</strong> 5
                            </div>

                            <div>
                                <strong>No. of Orange Seats</strong> 3
                            </div>

                            <div>
                                <strong>No. of Blue Seats</strong> 13
                            </div>

                        </div>

                    </div>
                    <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">View</a>
                            <a href="#" class="Cbtn Cbtn-danger">Delete</a>
                        </div>
                </div> 
            </div>
        </form>
       
    </div>
</div>